@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
#app {
    min-width: 1280px;
    margin: 0 auto;
}
.modal-container{
    background-color: rgb(0 0 0 / 85%) !important;
}
