body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
#app {
    min-width: 1280px;
    margin: 0 auto;
}
.modal-container{
    background-color: rgb(0 0 0 / 85%) !important;
}
.dp__input{
    padding: 0.25rem 0.25rem 0.25rem 2.25rem !important;
    border-radius: 0.125rem !important;
}